<head>
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
	<div class="row">
		<div class="col s12 m12 l12">
			<ul id="dropdown" class="dropdown-content">
			{% include 'main/includes/navbaritems.html' %}
			</ul>
			<nav>

			  <div class="nav-wrapper">
				<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
				<a href="/" class="brand-logo"><i class="material-icons">local_florist</i></a>
				<ul class="right hide-on-med-and-down dds">
				  <li><a href="/"><i class="material-icons">home</i></a></li>
				  <li><a href="#!"><i class="material-icons">search</i></a></li>
					<li><a href="#!"><i class="material-icons">map</i></a></li>
					<li><a href="#!"><i class="material-icons">refresh</i></a></li>
				  <li><a class="dropdown-trigger" data-target="dropdown">
					<i class="material-icons">dehaze</i></a>
				</li>
			</ul>
			  </div>
		</div>
	</div>
</nav>

{% include 'main/includes/messaging.html' %}

<div class="container">
  {% block content %}
  {% endblock %}
</div>
</body>

<!-- Prism JS -->
<script>
    $(document).ready(function(){
        $('.modal').modal();
        $('.dropdown-trigger').dropdown();
    });
</script>

<script>
  M.AutoInit();
</script>